<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between p-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/home">
      <ul class="nav nav-pills">
        <li><a [routerLink]="['/']" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/test-error">Errors</a></li>
      </ul>
    </a>

    <ul class="nav nav-pills">
      <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-2 text-dark"></i>
        <div class="cart-no">4</div>
      </a>
      <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link active">Sign Up</a></li>
    </ul>
  </header>
</div>
